<p>This is a non-commercial application.</p>

<p>Our number one rule regarding your privacy is that we will not sell your information to others. Not now and not in the future.</p>

<p>More information on our privacy policy will follow later.</p>
