<div id="information">
  <p>The authentication failed:</p>
  <ul>
    <li>
      Error: <%= @error %>
    </li>
    <li>
      Reason: <%= @error_reason %>
    </li>
    <li>
      Description: <%= @error_description %>
    </li>
  </ul>
</div>